{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="container" id="sign-out-container">
  <div class="row">
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 com-sm-12 col-12" >
      <h1 class="text-center">{% trans "SO SOON..." %}</h1>
      <p class="text-center">{% trans 'Are you sure you want to sign out?' %}</p>
      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="buttons-container">
          <button class="m-2 btn btn-dark fs-5" type="submit">{% trans 'SIGN OUT' %}</button>
          <a class="m-2 btn btn-dark fs-5" href="{% url 'home' %}">{% trans 'NOT NOW' %}</a>
        </div>
      </form>

    </div>
  </div>
</div>



{% endblock %}
