{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5ef8bf6f91.js" crossorigin="anonymous"></script>
    
    <!-- DateTimePicker -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
    
    <title>Grace | Restaurant </title>
</head>
<body>
    <!-- NAV BUTTON -->
    <!-- https://github.com/codeSTACKr/hamburger-animation -->
   
    <div class="menu-btn">
        <div class="menu-btn__burger"></div>
    </div>
    <div class="nav-container">
        <nav id="nav-bar">
            <ul>
                <li><a href="{% url 'home' %}">HOME</a></li>
                <li><a href="{% url 'our-restaurant' %}">OUR RESTAURANT</a></li>
                <li><a href="{% url 'booking' %}">RESERVATIONS</a></li>
                <li><a href="{% url 'menu' %}">MENU</a></li>
                <li><a href="{% url 'gallery' %}">GALLERY</a></li>
                <li><a href="#" class="disabled">COOKBOOKS (COMING SOON)</a></li>
                <li><a href="#" class="disabled">GIFTS (COMING SOON)</a></li>
                <li><a href="{% url 'team' %}">TEAM</a></li>
                <li><a href="{% url 'faq' %}">FAQ</a></li>
                <li><a href="{% url 'events' %}">EVENTS</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'account_logout' %}">LOGOUT</a></li>
                {% else %}
                    <li><a href="{% url 'account_login' %}">LOGIN / SIGN-UP</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <div id="content">
        {% include 'messages.html' %}
    </div>
 
       {% block content %}
       <!-- Content Goes here -->
       {% endblock content %}

       <!-- FOOTER -->
       <footer class="text-center text-lg-start bg-light text-muted" id="footer">
           <!-- Section: Social media -->
           <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
               <!-- Left -->
               <div class="me-5 d-none d-lg-block">
                   <span>Get connected with us on social networks:</span>
               </div>
               <!-- Left -->

               <!-- Right -->
               <div>
                   <a href="https://www.facebook.com/" class="me-4 text-reset" target="_blank">
                       <i class="fab fa-facebook-f"></i>
                   </a>
                   <a href="https://twitter.com/login" class="me-4 text-reset" target="_blank">
                       <i class="fab fa-twitter"></i>
                   </a>
                   <a href="https://www.google.ro/" class="me-4 text-reset" target="_blank">
                       <i class="fab fa-google"></i>
                   </a>
                   <a href="https://www.instagram.com/?hl=en" class="me-4 text-reset" target="_blank">
                       <i class="fab fa-instagram"></i>
                   </a>
                   <a href="https://www.linkedin.com/" class="me-4 text-reset" target="_blank">
                       <i class="fab fa-linkedin"></i>
                   </a>
               </div>
               <!-- Right -->
           </section>
           <!-- Section: Social media -->

           <!-- Section: Links  -->
           <section>
               <div class="container text-center text-md-start mt-5">
                   <!-- Grid row -->
                   <div class="row mt-3">
                       <!-- Grid column -->
                       <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                           <!-- Content -->
                           <h6 class="text-uppercase fw-bold mb-4">
                               <i class="fas fa-gem me-3"></i>Restaurant Grace
                           </h6>
                           <p>
                               Grace is actively minimising it's impact on the planet, specifically by addressing issues
                               like sustainable farming, carbon footprint, shortening our supply chain, food wastage,
                               packaging, water and energy consumption,
                               recycling, and more.
                           </p>
                       </div>
                       <!-- Grid column -->

                       <!-- Grid column -->
                       <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                           <!-- Links -->
                           <h6 class="text-uppercase fw-bold mb-4">
                               Products
                           </h6>
                           <p>
                               <a href="#!" class="text-reset">Events</a>
                           </p>
                           <p>
                               <a href="#!" class="text-reset">Book a Table</a>
                           </p>
                           <p>
                               <a href="#!" class="text-reset">Gallery</a>
                           </p>
                           <p>
                               <a href="#!" class="text-reset">Menu</a>
                           </p>
                       </div>
                       <!-- Grid column -->

                       <!-- Grid column -->
                       <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                           <!-- Links -->
                           <h6 class="text-uppercase fw-bold mb-4">
                               Useful links
                           </h6>
                           <p>
                               <a href="#!" class="text-reset">FAQ</a>
                           </p>
                           <p>
                               <a href="#!" class="text-reset">Team</a>
                           </p>
                           <p>
                               <a href="#!" class="text-reset">Sign Up</a>
                           </p>

                       </div>
                       <!-- Grid column -->

                       <!-- Grid column -->
                       <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                           <!-- Links -->
                           <h6 class="text-uppercase fw-bold mb-4">
                               Contact
                           </h6>
                           <p><i class="fas fa-home me-3"></i> Chicago, IL 10012, US</p>
                           <p>
                               <i class="fas fa-envelope me-3"></i>
                               info@grace-restaurant.com
                           </p>
                           <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                           <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                       </div>
                       <!-- Grid column -->
                   </div>
                   <!-- Grid row -->
               </div>
           </section>
           <!-- Section: Links  -->

           <!-- Copyright -->
           <div class="text-center p-4">
               © 2022 Copyright:
               <a class="text-reset" href="https://github.com/GeorgianF">Made with <i class="fas fa-heart"></i> by
                   Georgian Furtuna</i></a>
           </div>
           <!-- Copyright -->
       </footer>
       <!-- Footer -->


    <script src=https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>