{% extends "base.html" %}

{% block content %}

<section id="booking-header">
    <h1>BOOK A TABLE</h1>
</section>


<section id="booking-form">
    <div class="container">
        {% if user.is_authenticated %}
        <form action="/booking/" method="POST">
            <br>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="row form-buttons">
                <div class="col-lg-10 col-md-10 col-sm-10 col-10">
                    <input class="mt-2 mb-3 btn btn-dark" type="button" value="SUBMIT" data-bs-toggle="modal"
                        data-bs-target="#myBookingMessage">
                    <input class="mt-2 mb-3 btn btn-dark" type="reset" value="RESET">
                </div>
            </div>
        {% endif%}

        

            <div class="modal fade" id="myBookingMessage" tabindex="-1" aria-labelledby="myBookingMessageLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myBookingMessageLabel">Confirm Request</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to submit this reservation?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="mt-2 mb-3 btn btn-dark" data-bs-dismiss="modal">CLOSE</button>
                            <button type="submit" class="mt-2 mb-3 btn btn-dark">SUBMIT</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<section id="view-bookings-button">
        <div class="text-uppercase">
            <a href="{% url 'update-booking' %}" class="btn btn-dark" > <i class="fa fa-arrow-right f5"></i>VIEW ALL BOOKINGS<i class="fa fa-arrow-right f5"></i> </a>
        </div>
</section>


{% endblock %}