{% extends "base.html" %}

{% block content %}

<section id="booking-header">
    <h1>BOOK A TABLE</h1>
</section>


<section id="booking-form">
    <div class="container">

        <form action="/BookingForm/" method="POST">
            <br>
            {% csrf_token %}
            {{ form_booking.as_p }}
            <input class="mt-2 mb-3 btn btn-dark" type="button" value="SUBMIT" data-bs-toggle="modal" data-bs-target="#myMessage">
            <input class="mt-2 mb-3 btn btn-dark" type="reset" value="RESET">


        </form>
    </div>
</section>


{% endblock %}