{% extends "base.html" %}

{% block content %}

<section id="view-reservations-header">
    <h1>View Reservations</h1>
</section>
<div class="container" >
    <div class="row reservation-table-row">
        <div class="col-lg-6 offset-3 col-md-6 col-sm-10 col-10" id="reservation-table">
            <table>
                <thead>
                    <tr class="border-bottom">
                        <th>USER</th>
                        <th>DATE</th>
                        <th>TIME</th>
                    </tr>
                </thead>
                {% for booking in bookings %}
                <tr>
                    {% if request.user.is_superuser or request.user.is_staff %}
                    <td>{{ booking.user }}</td>
                    {% else %}
                        {% if booking.user == request.user %}
                            <td>{{ booking.user }}</td>
                        {% else %}
                            <td>Anonymus</td>
                        {% endif %}
                    {% endif %}
                    <td>{{ booking.date}}</td>
                    <td class="text-uppercase">{{ booking.arrival_time}}</td>
                    {% if request.user.is_superuser or request.user.is_staff or booking.user == request.user %}
                        <td><a id="btn-update" class="btn" href="{% url 'edit-booking' booking.id %}">UPDATE</a></td>
                        <td><a id="btn-delete" class="btn" href="#">DELETE</a></td>
                    {% endif %}
                </tr>
                {% endfor %}


            </table>
        </div>
    </div>
</div>

<button>

</button>





{% endblock %}