{% extends "base.html" %}

{% block content %}
<div id="content">
    {% include 'messages.html' %}
</div>
<section id="events-header">
    <h1>Events and Bankqueting</h1>
</section>

<section id="events-form">
    <div class="container">

        <form action="/events/" method="POST">
            <br>
            {%csrf_token%}
            {{ form.as_p }}
            <input class="mt-2 mb-3 btn btn-dark" type="submit" value="SUBMIT">
            <input class="mt-2 mb-3 btn btn-dark" type="reset" value="RESET">
        </form>
    </div>
</section>




{%endblock%}