{% extends "base.html" %}

{% block content %}
<section id="events-header">
    <h1>Events and Bankqueting</h1>
</section>

<section id="events-form">
    <div class="container">

        <form action="/events/" method="POST">
            <br>
            {%csrf_token%}
            {{ form.as_p }}
            <input class="mt-2 mb-3 btn btn-dark" type="button" value="SUBMIT" data-bs-toggle="modal" data-bs-target="#myMessage">
            <input class="mt-2 mb-3 btn btn-dark" type="reset" value="RESET">

            <!-- Modal -->
            <div class="modal fade" id="myMessage" tabindex="-1" aria-labelledby="myMessageLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myMessageLabel">Confirm Request</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to submit this event?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="mt-2 mb-3 btn btn-dark" data-bs-dismiss="modal">CLOSE</button>
                            <button type="submit" class="mt-2 mb-3 btn btn-dark">SUBMIT</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>






{%endblock%}