{% extends "base.html" %}

{% block content %}

<div class="text-center gallery-heading">
    <h1>Gallery</h1>
</div>

<div class="gallery-container">
    <div class="image-container">
        <div class="image">
            <img src="https://res.cloudinary.com/dlyr5slol/image/upload/v1653741066/20171102_alinea_0280_lp0lxz.jpg" alt="balsamic-beets" >
        </div>
        <div class="image-text">
            <h2>Cheery & Balsamic</h2>
        </div>
    </div>
    <div class="image-container column-height-2 column-width-2">
        <div class="image">
            <img src="https://res.cloudinary.com/dlyr5slol/image/upload/v1653743504/Screenshot_2022-05-28_at_15.11.22_ysa6fb.png" alt="smoked-eggyolk">
        </div>
        <div class="image-text">
            <h2>Smoked egg yolk</h2>
        </div>
    </div>
    <div class="image-container">
        <div class="image">
            <img src="https://res.cloudinary.com/dlyr5slol/image/upload/v1653741152/20171102_alinea_0322_rx8w5b.jpg" alt="tempeh" >
        </div>
        <div class="image-text">
            <h2>Rooibos Tempeh</h2>
        </div>
    </div>
    <div class="image-container">
        <div class="image">
            <img src="https://res.cloudinary.com/dlyr5slol/image/upload/v1653419586/20171102_alinea_0385_grkpnk.jpg" alt="beet">
        </div>
        <div class="image-text">
            <h2>Beet & Vanilla</h2>
        </div>
    </div>
    <div class="image-container">
        <div class="image">
            <img src="https://res.cloudinary.com/dlyr5slol/image/upload/v1653741259/20180831_alinea_0048_mnpxu1.jpg" alt="forest" >
        </div>
        <div class="image-text">
            <h2>The forest</h2>
        </div>
    </div>
    <div class="image-container">
        <div class="image">
            <img src="https://res.cloudinary.com/dlyr5slol/image/upload/v1653741342/20180831_alinea_0080_uojjim.jpg" alt="chawanmushi" >
        </div>
        <div class="image-text">
            <h2>Chawanmushi</h2>
        </div>
    </div>
    <div class="image-container">
        <div class="image">
            <img src="https://res.cloudinary.com/dlyr5slol/image/upload/v1653741211/20180127_alineaFood_0048-Edit_tbngwj.jpg" alt="mushroom-kelp" >
        </div>
        <div class="image-text">
            <h2>Porcini & Kelp</h2>
        </div>
    </div>
    <div class="image-container column-width-2 column-height-2">
        <div class="image">
            <img src="https://res.cloudinary.com/dlyr5slol/image/upload/v1653741436/22281990_1452654718163951_3708920252269616257_n_i4jxdn.jpg" alt="citrus" >
        </div>
        <div class="image-text">
            <h2>Citrus</h2>
        </div>
    </div>
    <div class="image-container column-height-2">
        <div class="image">
            <img src="https://res.cloudinary.com/dlyr5slol/image/upload/v1653740952/20171102_alinea_0016-Edit_zosunz.jpg" alt="dashi">
        </div>
        <div class="image-text">
            <h2>Pumpkin dashi</h2>
        </div>
    </div>
    <div class="image-container column-height-2">
        <div class="image">
            <img src="https://res.cloudinary.com/dlyr5slol/image/upload/v1653741009/20171102_alinea_0101_v5dqwz.jpg" alt="garden-pea">
        </div>
        <div class="image-text">
            <h2>Garden peas</h2>
        </div>
    </div>
    <div class="image-container column-width-2">
        <div class="image">
            <img src="https://res.cloudinary.com/dlyr5slol/image/upload/v1653747861/Modernist-Cuisine-Ultimo-Catering-Events-Food-Blog-Perth-3_zyqqkm.jpg" alt="Carrot">
        </div>
        <div class="image-text">
            <h2>Licorice Carrot</h2>
        </div>
    </div>
    <div class="image-container column-width-1 column-height-2">
        <div class="image">
            <img src="https://res.cloudinary.com/dlyr5slol/image/upload/v1653748281/image-asset_qlcddm.jpg" alt="Tofu">
        </div>
        <div class="image-text">
            <h2>Tofu</h2>
        </div>
    </div>
    <div class="image-container column-width-1 column-height-1">
        <div class="image">
            <img src="https://res.cloudinary.com/dlyr5slol/image/upload/v1653748659/maxresdefault_exntuv.jpg" alt="Celeriac">
        </div>
        <div class="image-text">
            <h2>Celeriac & Coffee</h2>
        </div>
    </div>
    <div class="image-container column-width-2 column-height-1">
        <div class="image">
            <img src="https://res.cloudinary.com/dlyr5slol/image/upload/v1653748849/SDP01977_yb5a7c.jpg" alt="watermelon">
        </div>
        <div class="image-text">
            <h2>Watermelon</h2>
        </div>
    </div>
    <div class="image-container column-width-1 column-height-2">
        <div class="image">
            <img src="https://res.cloudinary.com/dlyr5slol/image/upload/v1653748995/SDP03264_xpjyf3.jpg" alt="mock-chicken">
        </div>
        <div class="image-text">
            <h2>Mock Chicken</h2>
        </div>
    </div>

    <div class="image-container column-width-1 column-height-2">
        <div class="image">
            <img src="https://res.cloudinary.com/dlyr5slol/image/upload/v1653747918/1645805737445-1e4f2a95_cuikgi.png" alt="orange">
        </div>
        <div class="image-text">
            <h2>Orange Consomme</h2>
        </div>
    </div>
    <div class="image-container column-width-1 column-height-1">
        <div class="image">
            <img src="https://res.cloudinary.com/dlyr5slol/image/upload/v1653749137/white-chocolate-and-straw_aqkfa9.jpg" alt="white-chocolate">
        </div>
        <div class="image-text">
            <h2>White chocolate & Strawberry</h2>
        </div>
    </div>
    <div class="image-container column-width-1 column-height-1">
        <div class="image">
            <img src="https://res.cloudinary.com/dlyr5slol/image/upload/v1653749225/20171102_alinea_0064_bqiru2.jpg" alt="Flax-custard">
        </div>
        <div class="image-text">
            <h2>Flax Custard</h2>
        </div>
    </div>
    <div class="image-container column-width-1 column-height-1">
        <div class="image">
            <img src="https://res.cloudinary.com/dlyr5slol/image/upload/v1653749321/20171102_alinea_0272_eekcs1.jpg" alt="raspberry">
        </div>
        <div class="image-text">
            <h2>Raspberry Creme Brulee</h2>
        </div>
    </div>

</div>
{%endblock%}