{% extends "base.html" %}

{% block content %}

<div class="container-fluid landing-page" id="landing-page">
    <div class="row">
        <div class="landing-page col-lg-12 col-md-12 col-sm-12 text-center justify-content-center">
            <img class="text-center justify-content-center"
                src="https://res.cloudinary.com/dlyr5slol/image/upload/v1653249632/thumbnail_ebtlpf.jpg"
                alt="grace-logo">
            <a href="#" class="btn btn-index">Book a Table</a>
        </div>
    </div>
</div>

{%endblock%}