{% extends "base.html" %}

{% block content %}

<section>
    <div class="d-flex justify-content-center align-items-center flex-column">
        <h1 id="menu">Menu</h1>
    </div>
</section>

<section id="menu-cards container d-flex flex-row">
    <div class="row card-row">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <!-- STARTERS -->
            <div class="card d-flex justify-content-center">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <div class="card-face card-body-front">
                        <h2 class="card-title">STARTERS</h2>
                    </div>
                    <div class="card-face card-body-back">
                        <div class="card-content">
                            {% for starter in starter_list%}
                            <h5>{{ starter.name}}</h5>
                            <p> {{ starter.description}} </p>
                            <p> Price: {{ starter.price}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6">
            <!-- SOUP -->
            <div class="card d-flex justify-content-center">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <div class="card-face card-body-front">
                        <h2 class="card-title">SOUPS</h2>
                    </div>
                    <div class="card-face card-body-back">
                        <div class="card-content">
                            {% for soup in soup_list%}
                            <h5>{{ soup.name}}</h5>
                            <p> {{ soup.description}} </p>
                            <p> Price: {{ soup.price}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6">
            <!-- SALADS -->
            <div class="card d-flex justify-content-center">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <div class="card-face card-body-front">
                        <h2 class="card-title">SALADS</h2>
                    </div>
                    <div class="card-face card-body-back">
                        <div class="card-content">
                            {% for salad in salads_list%}
                            <h5>{{ salad.name}}</h5>
                            <p> {{ salad.description}} </p>
                            <p> Price: {{ salad.price}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row card-row">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <!-- FISH -->

            <div class="card d-flex justify-content-center">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <div class="card-face card-body-front">
                        <h2 class="card-title">FISH COURSES</h2>
                    </div>
                    <div class="card-face card-body-back">
                        <div class="card-content">
                            {% for fish in fish_list%}
                            <h5>{{ fish.name}}</h5>
                            <p> {{ fish.description}} </p>
                            <p> Price: {{ fish.price}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <!-- MAIN -->

            <div class="card d-flex justify-content-center">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <div class="card-face card-body-front">
                        <h2 class="card-title">MAIN COURSES</h2>
                    </div>
                    <div class="card-face card-body-back">
                        <div class="card-content">
                            {% for main in main_list%}
                            <h5>{{ main.name}}</h5>
                            <p> {{ main.description}} </p>
                            <p> Price: {{ main.price}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <!-- DESSERTS -->

            <div class="card d-flex justify-content-center">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <div class="card-face card-body-front">
                        <h2 class="card-title">DESSERTS</h2>
                    </div>
                    <div class="card-face card-body-back">
                        <div class="card-content">
                            {% for dessert in dessert_list%}
                            <h5>{{ dessert.name}}</h5>
                            <p> {{ dessert.description}} </p>
                            <p> Price: {{ dessert.price}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{%endblock%}