{% extends "base.html" %}

{% block content %}

<!-- RESTAURANT INFO -->

    <section id="hero-corona">
        <div id="our-restaurant-content">
            <img id="hero-image" src="https://res.cloudinary.com/dlyr5slol/image/upload/v1653417135/banner_cs54ot.jpg"
                alt="banner-image">
            <div class="card restaurant-card text-center d-flex justify-content-center">
                <div class="container">
                    <div class="row justify-content">
                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card-body-restaurant">
                                <h3 class="card-title-restaurant mt-2">GRACE</h3>
                                <p class="card-text">The restaurant is a fine dining restaurant located in the heart of
                                    Chicago. The
                                    restaurant
                                    overlooks Cloud Gate, one of the most beautiful landmarks in Chicago. Located here
                                    since
                                    1998, it underwent a full-scale renovation and redesign in the summer of 2017.</p>
                                <p class="card-text">
                                    The restaurant has been owned by Chef Curtis Duffy since 2011 and during that time
                                    it
                                    has evolved
                                    considerably, both in food and in experience. Our tasting menu consists of entirely
                                    plant-based
                                    courses. Guests can also visit the bar for a more abbreviated version of the tasting
                                    menu, light
                                    snacks, or simply for a cocktail or glass of wine.
                                </p>
                                <a href="#" class="btn btn-index">Book a Table</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- TESTIMONIALS -->
<section id="testimonials">
    <div class="testimonial-container">
        <div class="row mb-5 text-center d-flex justify-content-center">
            <div class="col-md-4 col-sm-8">
                <p class="review">This lovely place offers food and wine at the very highest levels and the service
                    is excellent, very friendly, attentive but not too much so, very professional. Nice selection of
                    wines. We loved it and will definitely return!
                    <br>
                    <i class="fa fa-twitter"><span>@PeterGriffin</span></i>
                </p>
                <img src="https://res.cloudinary.com/dlyr5slol/image/upload/v1653567668/user1_vk4h54.jpg" alt="user1">
            </div>
            <div class="col-md-4 col-sm-8 middle">
                <p class="review">I love Grace since it is strategically located. The place is so
                    beautiful. Views were absolutely breathtaking. We would definitely return when we are back for
                    another trip. Thank you all of the staff who were excellent.
                    <br>
                    <i class="fa fa-twitter"><span>@MattSparrow</span></i>
                </p>
                <img src="https://res.cloudinary.com/dlyr5slol/image/upload/v1653567667/user2_dfbp8z.jpg" alt="user2">
            </div>
            <div class="col-md-4 col-sm-8">
                <p class="review">The food was wonderful and the service excellent. The sommelier was very knowledgeable
                    and the wine list was very extensive at honest prices for a three-star Michelin
                    restaurant. We will
                    definitely be back.
                    <br>
                    <i class="fa fa-twitter"><span>@JustinBourne</span></i>
                </p>
                <img src="https://res.cloudinary.com/dlyr5slol/image/upload/v1653567667/user3_fxo686.jpg" alt="user3">
            </div>
        </div>
    </div>
</section>

<!-- CORONA GUIDELINES -->

<section id="health-guidelines">
    <div class="container features-container">
        <div class="row ">
            <div class="col-4 features-1-row flex-column">
                <i class="fa fa-medkit" aria-hidden="true"></i>
                <p>RIVM COVID-19</p>
            </div>
            <div class="col-4 features-1-row flex-column">
                <i class="fa fa-heart" aria-hidden="true"></i>
                <p>Be kind with one another</p>
            </div>
            <div class="col-4 features-1-row flex-column">
                <i class="fa fa-home" aria-hidden="true"></i>
                <p>Have sympthoms? Stay home</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4 features-1-row flex-column">
                <i class="fa fa-users" aria-hidden="true"></i>
                <p>Keep a distance. We are in it togheter</p>
            </div>
            <div class="col-4 features-1-row flex-column">
                <i class="fa fa-credit-card" aria-hidden="true"></i>
                <p>Pay by card</p>
            </div>
            <div class="col-4 features-1-row flex-column">
                <i class="fa fa-hand-sparkles" aria-hidden="true"></i>
                <p>Wash hands regularly</p>
            </div>
        </div>
    <div>
</section>

<section>
    <p class="d-flex justify-content-center align-items-center mt-3 fs-5">STAY SAFE</p>
</section>
{%endblock%}