{% extends "base.html" %}

{% block content %}
<div class="text-center d-flex justify-content-center">
    <h1 class="team-heading">Meet the team</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-2 d-flex justify-content-center">
            <img class="img-thumbnail"
                src="https://res.cloudinary.com/dlyr5slol/image/upload/v1653751770/Screenshot_2022-05-28_at_17.29.06_m2htvk.png"
                alt="chef-curtis">
        </div>
        <div class="col-md-4 position-relative">
            <h2 class="d-flex justify-content-end">Executive Chef</h2>
            <h3 class="d-flex justify-content-end">Curtis Duffy</h3>
            <p class="d-flex justify-content-end fs-5">
                The head chef Curtis Duffy and his business partner Michael Muser opened Grace in December 2012. Duffy had
                previously worked at Charlie Trotter's and was chef de cuisine at Alinea when it opened in 2004. In the
                years prior to opening Grace, he maintained a two star Michelin rating while the head chef at Avenues in
                the Peninsula Hotel until closing the restaurant in 2011.
            </p>
            <p class="d-flex justify-content-end fs-5">
                Grace has maintained a Michelin Guide three-star restaurant status since 2014 and to date is only
                the third restaurant in Chicago ever to earn three Michelin stars after Alinea
            </p>
        </div>
    </div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
</div>
{%endblock%}