{% extends "base.html" %}

{% block content %}
<div class="text-center d-flex justify-content-center">
    <h1 class="team-heading">Meet the team</h1>
</div>

<div class="container team-container">
    <div class="row team-row">
        <div class="col-lg-4 offset-lg-2 col-md-6 col-sm-6 col-6 d-flex justify-content-center">
            <img class="img-thumbnail"
                src="https://res.cloudinary.com/dlyr5slol/image/upload/v1653751770/Screenshot_2022-05-28_at_17.29.06_m2htvk.png"
                alt="chef-curtis">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-6 position-relative">
            <h2 class="d-flex justify-content-end team-text">Executive Chef</h2>
            <h3 class="d-flex justify-content-end">Curtis Duffy</h3>
            <p class="d-flex justify-content-end">
                The head chef Curtis Duffy and his business partner Michael Muser opened Grace in December 206. Duffy had
                previously worked at Charlie Trotter's and was chef de cuisine at Alinea when it opened in 2004. In the
                years prior to opening Grace, he maintained a two star Michelin rating while the head chef at Avenues in
                the Peninsula Hotel until closing the restaurant in 2011.
            </p>
            <p class="d-flex justify-content-end">
                Grace has maintained a Michelin Guide three-star restaurant status since 2014 and to date is only
                the third restaurant in Chicago ever to earn three Michelin stars after Alinea
            </p>
        </div>
    </div>

    <hr>

    <div class="row team-row">
        <div class="col-lg-4 offset-lg-2 col-md-6 col-sm-6 col-6 position-relative">
            <h2 class="d-flex justify-content-start team-text">Kitchen Team</h2>
            <p class="d-flex justify-content-end">
               We are blessed with one of the best kitchen staff around, and all of us works very hard to provide the best customer experience that restaurant has to offer.
               It's not a work place, is a family, that always strives to get better.
            </p>
            <p class="d-flex justify-content-end">
                Most of our staff are since day one of the restaurant, and this said a lot about the values that we look upon every day.
                Life at Grace is challenging but it bring the best in all of us.
            </p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-6 d-flex justify-content-center">
            <img class="img-thumbnail"
                src="https://res.cloudinary.com/dlyr5slol/image/upload/v1653828926/GPRBZZROIRBA7ADTIWY65FRT5A_ct8jvu.jpg"
                alt="grace-service">
        </div>
    </div>

    <hr>

    <div class="row team-row">
        <div class="col-lg-4 offset-lg-2 col-md-6 col-sm-6 col-6 d-flex justify-content-center">
            <img class="img-thumbnail"
                src="https://res.cloudinary.com/dlyr5slol/image/upload/v1653830107/Simone-Marchetti-sommelier-milano_qaoofd.jpg"
                alt="sommelier">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-6 position-relative">
            <h2 class="d-flex justify-content-end team-text">Sommelier</h2>
            <h3 class="d-flex justify-content-end">Richard Wijnhaus</h3>
            <p class="d-flex justify-content-end">
                Richard has been involved with Grace from the very first moment. 
                The innovative dishes of the kitchen team are complimented with verve by the wine choices of
                Wine Director Richard Wijnhaus.
            </p>
            <p class="d-flex justify-content-end">
                He takes his profession very seriously. We are not the
                only ones who appreciate his knowledge and craftsmanship. Richard has been voted best sommelier for the
                years 2018-2019 and plays this role with verve and passion in Grace. Always in a good mood and
                with excellent wine-food combinations.
            </p>
        </div>
    </div>
    <hr>
    <div class="row team-row pb-4">
        <div class="col-lg-4 offset-lg-2 col-md-6 col-sm-6 col-6 position-relative">
            <h2 class="d-flex justify-content-start team-text">Front off House Team</h2>
            <p class="d-flex justify-content-end">
                You wont find a better caring front of house staff anywhere. All of our staff is trained directly by our head sommelier
                and they will make sure that your experience it's one that you will never forget.
            </p>
            <p class="d-flex justify-content-end">
                If it a special ocassion or a business dinner, they will make sure you will have everything you need.
                We will move mountains to create the experience that you deserve.
            </p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-6 d-flex justify-content-center">
            <img class="img-thumbnail"
                src="https://res.cloudinary.com/dlyr5slol/image/upload/v1653831008/waitress-bussing-tables_yweqxn.jpg"
                alt="grace-front-off-staff">
        </div>
    </div>
</div>
{%endblock%}